<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../css/header.css" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />

    <title>Pet Care | Home</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="navbar_menu">
          <li><a href="#">Pet</a></li>
          <li><a href="#">Iot</a></li>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Schedule with Communication</a></li>
        </ul>
        <div class="navbar_logo">
          <i class="fa-solid fa-house"></i>
          <a href="#">Petcare</a>
        </div>
        <ul class="navbar_login">
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <script
      src="https://kit.fontawesome.com/c47a47dbc9.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
