<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />

    <title>Pet Care | Home</title>
  </head>
  <body>
    <header>
      <h1>Home</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/pet">Pet</a></li>
          <li><a href="/iot">Iot</a></li>
          <li><a href="/edit">Edit</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <script
      src="https://kit.fontawesome.com/c47a47dbc9.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
