/* 메인 */
#main {
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  background-color: lightblue;
  text-align: center;
  width: 500px;
  height: 800px;
}

/* 채팅 영역 */
#chat {
  height: 90%;
  width: 100%;
  overflow-y: auto;
}

/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: aquamarine;
  text-align: center;
  margin-top: 10px;
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  background-color: indianred;
  text-align: center;
  margin-top: 10px;
}

/* 내가 보낸 메시지 */
.me {
  width: 90%;
  margin: auto;
  background-color: lemonchiffon;
  border-radius: 5px;
  margin-top: 10px;
}

/* 상대방이 보낸 메시지 */
.other {
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}
/**삭제하기*/
HTML CSSResult Skip Results Iframe EDIT ON * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrap {
  padding: 40px 0;
  background-color: #a8c0d6;
}

.wrap .chat {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.wrap .chat .icon {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.wrap .chat .icon i {
  position: absolute;
  top: 10px;
  left: 50%;
  font-size: 2.5rem;
  color: #aaa;
  transform: translateX(-50%);
  margin-right: 5px;
}

.wrap .chat .textbox {
  position: relative;
  display: inline-block;
  max-width: calc(100% - 70px);
  padding: 10px;
  margin-top: 7px;
  font-size: 13px;
  border-radius: 10px;
}

.wrap .chat .textbox::before {
  position: absolute;
  display: block;
  top: 0;
  font-size: 1.5rem;
}

.wrap .ch1 .textbox {
  margin-left: 20px;
  background-color: #ddd;
}

.wrap .ch1 .textbox::before {
  left: -15px;
  content: "◀";
  color: #ddd;
}

.wrap .ch2 {
  flex-direction: row-reverse;
}

.wrap .ch2 .textbox {
  margin-right: 20px;
  background-color: #f9eb54;
}

.wrap .ch2 .textbox::before {
  right: -15px;
  content: "▶";
  color: #f9eb54;
}
