:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 25px 10px;
  height: calc(90% - 120px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}

.msger-chat {
  background-color: #fcfcfe;
}

/*달력 css*/
.fc {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  background-color: #fff;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

/*eventinput*/
#eventInput {
  background-color: moccasin;
  padding: 20px;
  margin: 10px;
  display: none; /* 처음에는 숨김 */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bolder;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#input-type-div {
  display: flex;
  align-items: center;
}

#input-type-div label {
  margin-right: 10px;
}

#input-type-div input[type="radio"] {
  margin-right: 5px;
}

button {
  padding: 10px 20px;
  background-color: #00c441;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#calendar-container {
  height: calc(90% - 120px);
  width: 35%;
}

#selectedDate {
  font-weight: bold;
  padding-bottom: 10px;
}
#selectedTime {
  font-weight: bold;
  padding-bottom: 10px;
}

#eventContents {
  height: 12vh;
  width: 100%;
  resize: none;
}
#button-group {
  text-align: right;
}
/*click event*/
#eventClick {
  background-color: moccasin;
  padding: 20px;
  margin: 10px;
  display: none;
}
#top-click {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
#clickedDate {
  float: left;
}

#deleteClickedButton {
  float: right;
}

#click-button-group {
  text-align: right;
  margin-top: 10px;
}

#deleteClickedButton {
  float: right;
  margin-bottom: 10px;
}

#click-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#click-left {
  flex: 1;
  margin-right: 10px;
}

#click-right {
  flex: 1;
  margin-left: 10px;
}

#typeContainer {
  display: flex;
}
div#clickedTime {
  font-weight: bold;
}

div#clickedTitle {
  font-weight: bold;
}

div#clickedType {
  display: inline-block;
  background-color: #eaeaea;
  color: #333333;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 10px;
}

#typeContainer label {
  margin-right: 15px; /* 라벨과 div 사이의 간격을 조정할 수 있습니다 */
  margin-bottom: 10px;
}

div#clickedContents {
  height: 15vh;
  border-top: 1px solid #000000;
}

div#clickedDate {
  font-weight: bold;
  padding-top: 10px;
}
/*update box*/
#update {
  background-color: moccasin;
  padding: 20px;
  margin: 10px;
  display: none;
}
#updateDate {
  font-weight: bold;
  padding-bottom: 10px;
}

#updateTime {
  font-weight: bold;
  padding-bottom: 10px;
}

#updateTitle {
  font-weight: bold;
}

#update-type-div {
  display: flex;
  align-items: center;
}

#update-type-div label {
  margin-right: 10px;
}

#update-type-div input[type="radio"] {
  margin-right: 5px;
}

#updateContents {
  height: 12vh;
  width: 100%;
  resize: none;
}

#update-button-group {
  text-align: right;
  margin-top: 10px;
}
